@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(230, 243, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 218, 96);
  border-radius: 30px;
  background-clip: padding-box;
}

#Header {
  width: 100%;
  height: 6vw;
  font-family: "SDSamliphopangche_Outline";
  box-sizing: border-box;
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: chocolate;
  mix-blend-mode: inherit;
  backdrop-filter: blur(4px);
  z-index: 5;
}
#Header #Ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Header #Ul li:nth-of-type(1), #Header #Ul li:nth-of-type(3) {
  font-size: 2rem;
}
#Header #Ul .li_btn {
  width: 4vw;
  height: 4vw;
  background-color: aliceblue;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#Header #Ul .li_btn span:nth-of-type(1):after {
  content: "";
  position: absolute;
  top: 30px;
  left: 21%;
  width: 60%;
  height: 2px;
  background-color: black;
}
#Header #Ul .li_btn span:nth-of-type(1):after:hover::after {
  transition: all 2s ease;
  transform: rotate(45deg);
}
#Header #Ul .li_btn span:nth-of-type(2):after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 21%;
  width: 60%;
  height: 2px;
  background-color: black;
}