body {
  background-color: antiquewhite;
}

#Intro {
  width: 100%;
  height: 50vw;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Intro .intro1,
#Intro .intro2 {
  text-align: center;
}
#Intro .intro1 h1 {
  font-size: 7rem;
}
#Intro .intro2 {
  margin: 60px 0;
}
#Intro .intro2 h2 {
  font-size: 6rem;
}

#About {
  width: 100%;
  height: 50vw;
  background-color: firebrick;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#About .bank {
  width: 100%;
  height: 50px;
  background-color: rgb(230, 206, 178);
  position: absolute;
  top: -25px;
}
#About .arrow {
  width: 10vw;
  height: 75px;
  background-color: rgb(230, 206, 178);
  position: absolute;
  top: -10px;
  text-align: center;
  border-radius: 20px;
}
#About .arrow:hover {
  cursor: pointer;
}
#About .arrow img {
  width: 30px;
  height: 30px;
  animation: arrowR 1.5s infinite linear;
}
@keyframes arrowR {
  100% {
    transform: rotateY(360deg);
  }
}
#About .arrow h3 {
  width: 8vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}
#About .arrow h3:after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0px;
  left: 25%;
  height: 2px;
  background-color: black;
}
#About .about1 {
  width: 45vw;
  height: 30vw;
  background-color: aliceblue;
  border: 1px solid black;
  display: none;
}
#About .about1 table {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
#About .about1 table th {
  width: 120px;
}
#About .about1 table .profile img {
  width: 13vw;
  height: auto;
}
#About .about1 table th,
#About .about1 table td {
  border: 1px solid black;
}
#About .about1 table td {
  text-align: center;
}

#Porfol {
  width: 100%;
  height: 100%;
  position: relative;
}
#Porfol .include1 {
  width: 100%;
  height: auto;
  background-color: coral;
  border-radius: 50% 50% 0 0;
  transition: border-radius 3s;
  overflow: hidden;
}
#Porfol .include1 .project1 {
  width: 100%;
  height: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include1 .project1 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include1 .project1 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include1 .project1 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include1 .project1 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include1 .project1 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-66%);
  transition: transform 5s ease;
}
#Porfol .include1 .project1 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include1 .project1 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include1 .project1 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-88%);
  transition: transform 7s ease;
}
#Porfol .include1 .project1 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include2 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: skyblue;
  border-radius: 50% 50% 0 0;
  transition: border-radius 3s;
  overflow: hidden;
  top: 50%;
}
#Porfol .include2 .project2 {
  width: 100%;
  height: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include2 .project2 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include2 .project2 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include2 .project2 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include2 .project2 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include2 .project2 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-80%);
  transition: transform 5s ease;
}
#Porfol .include2 .project2 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include2 .project2 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include2 .project2 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-95%);
  transition: transform 15s ease;
}
#Porfol .include2 .project2 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include3 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: darkkhaki;
  border-radius: 50% 50% 0 0;
  transition: border-radius 3s;
  overflow: hidden;
  top: 100%;
}
#Porfol .include3 .project3 {
  width: 100%;
  height: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include3 .project3 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include3 .project3 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include3 .project3 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include3 .project3 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-60%);
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include3 .project3 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-52%);
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include4 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: cornsilk;
  border-radius: 50% 50% 0 0;
  transition: border-radius 3s;
  top: 150%;
}
#Porfol .include4 .project4 {
  width: 100%;
  height: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include4 .project4 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include4 .project4 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include4 .project4 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include4 .project4 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 3s ease;
}
#Porfol .include4 .project4 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 3s ease;
}
#Porfol .include4 .project4 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include4 .project4 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include4 .project4 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-89%);
  transition: transform 5s ease;
}
#Porfol .include4 .project4 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include5 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: slateblue;
  border-radius: 50% 50% 0 0;
  transition: border-radius 3s;
  overflow: hidden;
  top: 200%;
}
#Porfol .include5 .project5 {
  width: 100%;
  height: 100vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include5 .project5 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include5 .project5 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include5 .project5 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include5 .project5 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-58%);
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include5 .project5 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-60%);
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}

#Contact {
  width: 100%;
  height: auto;
  display: none;
}
#Contact .finish {
  width: 90%;
  height: 50vw;
  background-color: aliceblue;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#Contact .finish h1 {
  font-family: "Humanbumsuk";
}