body {
  background-color: antiquewhite;
  scroll-behavior: smooth;
}

.circle {
  width: 5vmax;
  height: 5vmax;
  background-color: #f0e8db;
  position: absolute;
  top: -1%;
  left: -1%;
  z-index: 10;
  border-radius: 50%;
  will-change: transform;
  pointer-events: none;
  overflow: hidden;
}
.circle img {
  width: 100%;
  height: 100%;
}

#Intro {
  width: 100%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 
  ** Change this if you need to modify
  ** the amount of lines displayed
  */
  /*
  ** Leave these unless you want
  ** to open a whole can of worms
  */
  /*
  ** Set up the experiment
  */
  /*
  ** Apply styles to the parent element
  */
  /*
  ** Apply common styles to each line of text
  */
  /*
  ** Fine-grained text styles
  */
  /*
  ** The hover interaction
  */
}
#Intro .words {
  margin-right: 10%;
  height: 27vw;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 3.5vw;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
#Intro .Words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
#Intro .Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
#Intro .Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
#Intro .Words-line:nth-child(1) {
  left: 29px;
}
#Intro .Words-line:nth-child(2) {
  left: 58px;
}
#Intro .Words-line:nth-child(3) {
  left: 87px;
}
#Intro .Words-line:nth-child(4) {
  left: 116px;
}
#Intro .Words-line:nth-child(5) {
  left: 145px;
}
#Intro .Words-line:nth-child(6) {
  left: 174px;
}
#Intro .Words-line:nth-child(7) {
  left: 203px;
}
#Intro p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}
#Intro .words:hover p {
  transform: translate3d(0, -50px, 0);
}
#Intro .intro1,
#Intro .intro2 {
  text-align: center;
  display: none;
}
#Intro .intro1 h1 {
  font-size: 7rem;
}
#Intro .intro2 {
  margin: 60px 0;
}
#Intro .intro2 h2 {
  font-size: 6rem;
}

#About {
  width: 100%;
  height: 60vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#About .bank {
  width: 100%;
  height: 50px;
  background-color: rgb(230, 206, 178);
  position: absolute;
  top: -25px;
}
#About .arrow {
  width: 10vw;
  height: 75px;
  background-color: rgb(230, 206, 178);
  position: absolute;
  top: -10px;
  text-align: center;
  border-radius: 20px;
}
#About .arrow:hover {
  cursor: pointer;
}
#About .arrow img {
  width: 30px;
  height: 30px;
  animation: arrowR 1.2s infinite linear;
}
@keyframes arrowR {
  100% {
    transform: rotateY(360deg);
  }
}
#About .arrow h3 {
  width: 8vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}
#About .arrow h3:after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0px;
  left: 25%;
  height: 2px;
  background-color: black;
}
#About .about {
  text-align: center;
  display: none;
}
#About .about h1 {
  font-size: 6vw;
}
#About .about1 {
  width: 80vw;
  height: 50vw;
}
#About .about1 .table_intro {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#About .about1 .table_intro table {
  width: 60%;
  height: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}
#About .about1 .table_intro table th {
  width: 120px;
}
#About .about1 .table_intro table .profile img {
  width: 13vw;
  height: auto;
}
#About .about1 .table_intro table th,
#About .about1 .table_intro table td {
  border: 1px solid black;
}
#About .about1 .table_intro table td {
  text-align: center;
}
#About .about1 .table_intro .skill_info {
  width: 35%;
  height: 100%;
  background-color: aquamarine;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#About .about1 .table_intro .skill_info .skill_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
#About .about1 .table_intro .skill_info .skill_img img {
  width: 100px;
  height: 100px;
}

#Porfol {
  width: 100%;
  height: auto;
  position: relative;
}
#Porfol .include1 {
  width: 100%;
  height: auto;
}
#Porfol .include1 .project1 {
  width: 100%;
  height: 100vw;
  background-color: coral;
  transition: border-radius 2s;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include1 .project1 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include1 .project1 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include1 .project1 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include1 .project1 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include1 .project1 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-66%);
  transition: transform 5s ease;
}
#Porfol .include1 .project1 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include1 .project1 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include1 .project1 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-88%);
  transition: transform 7s ease;
}
#Porfol .include1 .project1 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include2 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: coral;
  top: 50%;
}
#Porfol .include2 .project2 {
  width: 100%;
  height: 100vw;
  background-color: whitesmoke;
  transition: border-radius 2s;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include2 .project2 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include2 .project2 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include2 .project2 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include2 .project2 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include2 .project2 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-80%);
  transition: transform 5s ease;
}
#Porfol .include2 .project2 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include2 .project2 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include2 .project2 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-95%);
  transition: transform 15s ease;
}
#Porfol .include2 .project2 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include3 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: whitesmoke;
  top: 100%;
}
#Porfol .include3 .project3 {
  width: 100%;
  height: 100vw;
  background-color: rgb(255, 230, 153);
  transition: border-radius 2s;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include3 .project3 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include3 .project3 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include3 .project3 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include3 .project3 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-60%);
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include3 .project3 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-52%);
  transition: transform 3s ease;
}
#Porfol .include3 .project3 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include4 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: rgb(255, 230, 153);
  top: 150%;
}
#Porfol .include4 .project4 {
  width: 100%;
  height: 100vw;
  background-color: cornflowerblue;
  transition: border-radius 2s;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include4 .project4 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include4 .project4 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include4 .project4 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include4 .project4 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 3s ease;
}
#Porfol .include4 .project4 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 3s ease;
}
#Porfol .include4 .project4 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include4 .project4 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include4 .project4 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-89%);
  transition: transform 5s ease;
}
#Porfol .include4 .project4 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol .include5 {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: cornflowerblue;
  top: 200%;
}
#Porfol .include5 .project5 {
  width: 100%;
  height: 100vw;
  background-color: antiquewhite;
  transition: border-radius 2s;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Porfol .include5 .project5 .porfolimg {
  width: 90%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
}
#Porfol .include5 .project5 .porfolimg .card {
  width: 100%;
  height: 20vw;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#Porfol .include5 .project5 .porfolimg .card .card1 {
  width: 20vw;
  height: 25vw;
  background-color: blueviolet;
  position: absolute;
  top: -40%;
  left: 33%;
  border-radius: 20px;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
#Porfol .include5 .project5 .porfolimg .card .card1 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .card .card1 img:hover {
  cursor: pointer;
  transform: translateY(-58%);
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .card .card2 {
  width: 20vw;
  height: 25vw;
  background-color: saddlebrown;
  position: absolute;
  top: -35%;
  right: 33%;
  border-radius: 20px;
  transform: rotate(10deg);
  overflow: hidden;
}
#Porfol .include5 .project5 .porfolimg .card .card2 img {
  width: 100%;
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .card .card2 img:hover {
  cursor: pointer;
  transform: translateY(-60%);
  transition: transform 5s ease;
}
#Porfol .include5 .project5 .porfolimg .porfol_info a {
  width: 10vw;
  height: 5vw;
  background-color: chartreuse;
}
#Porfol #Contact {
  width: 100%;
  height: auto;
  position: absolute;
  top: 250%;
}
#Porfol #Contact .finish {
  width: 90%;
  height: 50vw;
  background-color: darkblue;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#Porfol #Contact .finish h1 {
  font-family: "Humanbumsuk";
}